* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-column-gap: 10px; */
  /* grid-row-gap: 10px; */
  /* column-gap: 10px; */
  /* row-gap: 10px; */
  /* grid-gap: 10px; */
  gap: 10px;
}

.item {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  box-sizing: border-box;
}

.item:nth-child(even) {
  background-color: salmon;
}
