body,
html {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.container {
  margin: 50px auto;
  border: 5px solid #333;
  width: 600px;
  padding: 5px;
  box-sizing: border-box;
}

header {
  background-color: purple;
  padding: 40px 0;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
}

aside {
  background-color: blue;
  padding: 40px 0;
  width: 40%;
}

nav {
  background-color: red;
  padding: 70px 0;
  width: 40%;
}

main {
  background-color: chocolate;
  width: 60%;
  padding: 122px 0;
  align-self: flex-end;
  position: absolute;
}

footer {
  background-color: grey;
}
